<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../styles/dashboard.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body class="bg-primary bg-opacity-10">
    <header class="d-flex justify-content-end bg-primary p-3">
        <a class="text-white text-decoration-none" href="/logout">Logout</a>
    </header>
    <main class="w-75 mx-auto">
        <h1 class="mb-0 mt-4 fw-bold">Hello Margot</h1>
        <section class="d-flex gap-3 mt-5">
            <div class="container p-4 bg-white rounded shadow-sm">
                <h3>What's new?</h3>
                <p class="mt-4">Mais, vous savez, moi je ne crois pas qu’il y ait de bonne ou de mauvaise situation. Moi, si je devais résumer ma vie aujourd’hui avec vous,
                    je dirais que c’est d’abord des rencontres, des gens qui m’ont tendu la main, peut-être à un moment où je ne pouvais pas, où j’étais seul chez moi.
                    Et c’est assez curieux de se dire que les hasards, les rencontres forgent une destinée…</p>
            </div>
            <div class="container p-4 bg-white rounded shadow-sm">
                <div class="d-flex flex-column align-items-center">
                    <h3>{{ location }}</h3>
                    <h4>{{ temperature }}°C</h4>
                    <i class="wi wi-{{ weather }} display-3"></i>
                    <p>{{ weather }}</p>
                </div>
                <div class="d-flex align-items-baseline">
                    <i class="wi wi-rain"></i>
                    <p class="mx-2">{{ precipProb }}%</p>
                </div>
                <p>{{ description }}</p>
            </div>
            <div class="container p-4 bg-white rounded shadow-sm">
                <h3>Next Meeting</h3>
                <p class="mt-4">Parce que quand on a le goût de la chose, quand on a le goût de la chose bien faite, le beau geste, parfois on ne trouve pas l’interlocuteur en face, je dirais, le miroir qui vous aide à avancer.
                    Alors ce n’est pas mon cas, comme je le disais là, puisque moi au contraire, j’ai pu ; et je dis merci à la vie, je lui dis merci, je chante la vie, je danse la vie… Je ne suis qu’amour !
                    Et finalement, quand beaucoup de gens aujourd’hui me disent : « Mais comment fais-tu pour avoir cette humanité ? »
                    </p>
            </div>
        </section>
        <section class="d-flex flex-column gap-3 my-5">
            <form class="d-flex flex-column m-0 p-2 bg-white rounded shadow-sm" action="/dashboard/post/post" method="post">
                <label for="input-title"></label>
                <input id="input-title" class="rounded m-4 mb-1 px-3 py-2 border-1" type="text" placeholder="Title" name="title">
                <label for="input-text"></label>
                <input id="input-text" class="rounded m-4 mt-1 mb-2 p-3 border-1" type="text" placeholder="Write here..." name="post_text">
                <input class="align-self-end mx-4 mb-4 px-4 py-2 btn btn-primary" type="submit" value="Post">
            </form>

            {% for post in postData|reverse %}
            <article id="post-{{ post.id }}" class="m-0 bg-white rounded shadow-sm">
                <div class="d-flex justify-content-between my-4 mx-4 mb-2">
                    <p class="m-0">{{ post.first_name }} {{ post.last_name }}</p>
                    <p class="m-0">Date-placeholder</p>
                </div>
                <h4 class="mx-4">{{ post.title }}</h4>
                <p class="m-4">{{ post.post_text }}</p>
                {% if post.user_id == userId %}
                    <form method="post" action="/dashboard/post/update"> <!--need advice here-->
                        <div class="m-4 d-flex justify-content-end gap-4 edit-btns">
                            <input type="hidden" name="hiddenNbr" value="{{ post.id }}">
                            <label for="delete-icon-{{ post.id }}" ><img src="../styles/delete_icon.png"></label>
                            <input type="submit"  id="delete-icon-{{ post.id }}" class="bg-transparent border-0" name="delete">
                            <label for="edit-icon-{{ post.id }}"><img src="../styles/edit_icon.png"></label>
                            <input type="button" id="edit-icon-{{ post.id }}" onclick="toggleToEdit(event, {{ post.id }})" class="bg-transparent border-0" name="openEditField">
                        </div>
                    </form>
                {% endif %}
            </article>

            <article id="edit-{{ post.id }}" class="m-0 bg-white rounded shadow-sm hidden">
                <div class="d-flex justify-content-between my-4 mx-4 mb-2">
                    <p class="m-0">{{ post.first_name }} {{ post.last_name }}</p>
                    <p class="m-0">Date-placeholder</p>
                </div>
                <form class="d-flex flex-column m-0 p-2 bg-white rounded shadow-sm" action="/dashboard/post/update" method="post">
                    <input type="hidden" name="hiddenNbr" value="{{ post.id }}">
                    <label for="edit-title"></label>
                    <input id="edit-title" class="rounded m-4 mb-1 px-3 py-2 border-1" type="text" placeholder="Title" name="title" value="{{ post.title }}">
                    <label for="edit-text-{{ post.id }}"></label>
                    <input id="edit-text-{{ post.id }}" class="rounded m-4 mt-1 mb-2 p-3 border-1" type="text" name="post_text" value="{{ post.post_text }}">
                    <input id="update-{{ post.id }}" class="align-self-end mx-4 mb-4 px-4 py-2 btn btn-primary" type="submit" value="Update" name="update">
                </form>
            </article>
            {% endfor %}
        </section>
    </main>
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script type="text/javascript" src="script/toggleEdit.js"></script>
</body>
</html>