{% extends "./utils/base.twig" %}

{% block content %}
    <main class="w-75 mx-auto">
        <h1 class="mb-0 mt-4 fw-bold">Hello {{ userName }}</h1>
        <section class="d-flex gap-3 mt-5">
            <!--  <div class="container p-4 bg-white rounded shadow-sm">
                <h3>What's new?</h3>
                <p class="mt-4"></p>
            </div> -->
            <div class="container p-5 bg-white rounded shadow-sm">
                <div class="d-flex flex-column align-items-center">
                    <h3>{{ location }}</h3>
                    <h4>{{ temperature }}°C</h4>
                    <i class="wi wi-{{ weather }} display-3"></i>
                    <p class="mt-2">{{ weather }}</p>
                </div>
                <div class="d-flex align-items-baseline">
                    <i class="wi wi-rain"></i>
                    <p class="mx-2">{{ precipProb }}%</p>
                </div>
                <p>{{ description }}</p>
            </div>
        <!--    <div class="container p-4 bg-white rounded shadow-sm">
                <h3>Next Meeting</h3>
                <p class="mt-4"></p>
                </div> -->
        </section>
        <section class="d-flex flex-column gap-3 my-5">

            {% include "./module/commentSection.twig" %}

        </section>
    </main>
<script type="text/javascript" src="script/handlePostAction.js"></script>
{% endblock %}

