<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <Title>Login</Title>
    <link rel="stylesheet" href="../styles/comments.css">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body class="bg-primary bg-opacity-10">
    <header class="d-flex justify-content-end bg-primary p-3">
        <div class="btn-group">
            <button type="button" class="btn text-light dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ userName }}<img class="profile-pic ms-3" src="../asset/{{ userPic }}">
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/dashboard">Dashboard</a>
                <a class="dropdown-item" href="/profile">Profile</a>
                <!-- <a class="dropdown-item" href="#">Settings</a> -->
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-primary text-decoration-none" href="/logout">Logout</a>
            </div>
        </div>
    </header>
    <main class="w-75 mx-auto mt-5">
        <h1>Margot Hilt</h1>
      <!--  <section class="d-flex gap-3 mt-4">
            <div class="container m-0 p-4 bg-white rounded shadow-sm"><p>idclkw</p></div>
            <div class="d-flex flex-column container gap-2">
                <div class="container p-4 bg-white rounded shadow-sm">fqw</div>
                <div class="container p-4 bg-white rounded shadow-sm">wqffwe</div>
            </div>
        </section>-->
        <section class="d-flex flex-column gap-3 my-5">
            <form class="d-flex flex-column m-0 p-2 bg-white rounded shadow-sm" action="/dashboard/post/post" method="post">
                <label for="input-title"></label>
                <input id="input-title" class="rounded m-4 mb-1 px-3 py-2 border-1" type="text" placeholder="Title" name="title">
                <label for="input-text"></label>
                <input id="input-text" class="rounded m-4 mt-1 mb-2 p-3 border-1" type="text" placeholder="Write here..." name="post_text">
                <input class="align-self-end mx-4 mb-4 px-4 py-2 btn btn-primary" type="submit" value="Post">
            </form>

            {% for post in postData|reverse %}
                <article id="post-{{ post.id }}" class="p-2 m-0 bg-white rounded shadow-sm post">
                    <div class="d-flex justify-content-between my-4 mx-4 mb-3">
                        <div class="d-flex align-items-center">
                            <img class="profile-pic" src="../asset/{{ post.profile_pic }}">
                            <p class="m-2 h5">{{ post.first_name }} {{ post.last_name }}</p>
                        </div>
                        <p class="m-0">Date-placeholder</p>
                    </div>
                    <h4 class="mx-4">{{ post.title }}</h4>
                    <p class="m-4">{{ post.post_text }}</p>

                    <form method="post" action="/dashboard/post/delete">
                        <div class="m-4 d-flex justify-content-end gap-4 edit-btns">
                            <label for="like-icon-{{ post.id }}">
                                <img id="img-like-icon-{{ post.id }}"
                                     src="../asset/{% if post.id in userLikedPost %}like_fill_icon.png{% else %}like_icon.png{% endif %}">
                            </label>
                            <input type="button" id="like-icon-{{ post.id }}" onclick="handleLike({{ post.id }})" class="bg-transparent border-0" name="like-btn">
                            {% if post.user_id == userId %}
                            <input type="hidden" name="hiddenNbr" value="{{ post.id }}">
                            <label for="delete-icon{{ post.id }}" ><img src="../asset/delete_icon.png"></label>
                            <input type="submit"  id="delete-icon{{ post.id }}" class="bg-transparent border-0" name="delete">
                            <label for="edit-icon-{{ post.id }}"><img src="../asset/edit_icon.png"></label>
                            <input type="button" id="edit-icon-{{ post.id }}" onclick="toggleEdit('noEdit', {{ post.id }})" class="bg-transparent border-0" name="openEditField">
                        </div>
                    </form>
                    {% endif %}
                </article>

                <article id="edit-{{ post.id }}" class="m-0 p-2 bg-white rounded shadow-sm edit" hidden>
                    <div class="d-flex justify-content-between my-4 mx-4 mb-2">
                        <div class="d-flex align-items-center">
                            <img class="profile-pic" src="../asset/{{ post.profile_pic }}">
                            <p class="m-2 h5">{{ post.first_name }} {{ post.last_name }}</p>
                        </div>
                        <p class="m-0">Date-placeholder</p>
                    </div>
                    <form class="d-flex flex-column m-0 rounded" action="/dashboard/post/update" method="post">
                        <input type="hidden" name="hiddenNbr" value="{{ post.id }}">
                        <label for="edit-title"></label>
                        <input id="edit-title" class="rounded m-4 mb-1 px-3 py-2 border-1" type="text" placeholder="Title" name="title" value="{{ post.title }}">
                        <label for="edit-text-{{ post.id }}"></label>
                        <input id="edit-text-{{ post.id }}" class="rounded m-4 mt-1 mb-2 p-3 border-1" type="text" name="post_text" value="{{ post.post_text }}">
                        <div class="d-flex justify-content-end mx-4 mb-4 gap-2">
                            <input id="update-{{ post.id }}" class="px-4 py-2 btn bg-primary bg-opacity-10" type="button" value="Cancel" name="cancel" onclick="toggleEdit('edit', {{ post.id }})">
                            <input id="update-{{ post.id }}" class="px-4 py-2 btn btn-primary" type="submit" value="Update" name="update">
                        </div>
                    </form>
                </article>
            {% endfor %}
        </section>
    </main>
</body>
<script type="text/javascript" src="script/dashboard.js"></script>
</html>